<div id="<%= dom_id property %>">
  <p>
    <strong>Type property:</strong>
    <%= property.type_property %>
  </p>

  <p>
    <strong>Type operation:</strong>
    <%= property.type_operation %>
  </p>

  <p>
    <strong>Sqrt meters:</strong>
    <%= property.sqrt_meters %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= property.integer %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= property.direction %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= property.contact %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= property.image %>
  </p>

</div>
